.result-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 40px;
  margin: 0;
  padding: 0 30px;
}

.film-container {
  max-width: 300px;
  list-style: none;
  text-align: left;
}

.result-container__button {
  cursor: pointer;
  font-size: 25px;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  position: fixed;
  top: 50%;
}
.result-container__button-right {
  right: 0;
}

.result-container__button-left {
  left: 0;
}

@media (max-width: 500px) {
  .film-container {
    max-width: 200px;
  }
}

@media (max-width: 1000px) {
  .result-container__button {
    display: none;
  }
  .results {
    margin: auto;
  }
}
